.app {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  width: 960px;
  min-height: 735px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 100px 30px;
  color: #4A4A4A;
  background-color: #F3F7FA;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.app-main {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 230px;
  align-self: flex-start;
}

.tickets {
  width: 500px;
  box-sizing: border-box;
}
